<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <span th:replace="layouts/head :: head"></span>
  <title>Creer un local</title>
</head>
<body>
  <div data-th-if="${param.success!= null}" class="alert  alert-success fade show alert-dismissible" role="alert" data-mdb-color="success" id="customxD" bis_skin_checked="1">
    <strong>Le local est crée </strong>
    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="container">
    <form th:action="@{/manager/addLocal}" method="post" th:object="${local}">
      <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" th:field="*{name}" placeholder="">
        <div class="erreur" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name
          Error</div>
      </div>

      <div class="mb-3">
        <label for="Adresse" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="Adresse" th:field="*{address}" placeholder="">
        <div class="erreur" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address
          Error</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
        <div class="erreur" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description
          Error</div>
      </div>

      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Numero de telephone</label>
        <input type="number" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="">
        <div class="erreur" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber
          Error</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" th:field="*{email}"placeholder="name@example.com">
        <div class="erreur" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email
          Error</div>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="service">Service</label>
        <select class="form-select" id="service" name="service" >
          <option th:each="service : ${services}"
                  th:value="${service}"
                  th:text="${service}">
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">Créer</button>
    </form>
  </div>


  <span th:replace="layouts/foot :: foot"></span>
</body>
</html>