<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <span th:replace="layouts/head :: head"></span>
  <title>Details</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <td>id</td>
          <td>:</td>
          <td>id</td>
        </tr>
        <tr>
          <td>nom</td>
          <td>:</td>
          <td>name</td>
        </tr>
        <tr>
          <td>Tel</td>
          <td>:</td>
          <td>045</td>
        </tr>
      </table>
    </div>
    <div class="col">
      <table>
        <tr>
          <td>description</td>
          <td>:</td>
          <td>description</td>
        </tr>
        <tr>
          <td>adresse</td>
          <td>:</td>
          <td>address</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td>mei@ddk.ckp</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>