<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <span th:replace="layouts/head :: head"></span>
    <title>Liste des locaux</title>
</head>
<body style="background: #eee">
<span th:replace="client/client_navbar :: user_navbar"></span>

<form class="p-3 locaux-fliter" th:action="@{locaux}" th:method="get" style="background:#fff">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-2">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Quel est le nom du local rerché?"
                        aria-label="Search"
                        th:value="${keyword}"
                        name="keyword"
                />
            </div>
            <div class="col-md-4 mb-2">
                <input
                        type="text"
                        class="form-control"
                        placeholder="Dans quelle ville vous cheechez le local?"
                        name="city"
                        th:value="${city}"
                />
            </div>



            <div class="col-md-2 mb-2">
                <select class="form-select" name="service">
                    <option th:value="${service}"  selected disabled hidden>All Services</option>
                    <option th:each="service : ${T(com.ufr.tlib.models.Service).values()}"
                            th:value="${service}"
                            th:text="${service}">
                    </option>
                </select>
            </div>
            <div class="col-md-2 mb-2">
                <button class="btn btn-outline-secondary ml-2">Search</button>
            </div>
        </div>
    </div>
</form>


<div class="container">
    <div class="locaux-list">
        <h6 class="mb-6">
            <span th:text="${locaux.size()}"></span>
            local disponible
        </h6>
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4" th:each="local : ${locaux}">
                <div class="card text-center locaux-list-item" style="background: #fff">
                    <img class="card-img-top local-img"
                         src="https://static.vecteezy.com/system/resources/previews/006/046/341/original/barbershop-logo-vintage-classic-style-salon-fashion-haircut-pomade-badge-icon-simple-minimalist-modern-barber-pole-razor-shave-scissor-razor-blade-retro-symbol-luxury-elegant-design-free-vector.jpg"

                         alt="barber shop image"/>
                    <div class="card-body local-card-content">

                        <h3 class="card-title  local-title" th:text="${local.name}"></h3>
                        <p class="card-text  local-bagde">
                            <span class="badge badge-secondary" th:text="${local.service}"></span>
                        </p>
                       <!-- <p class="local-description" th:text="${local.description}"></p> -->
                        <p class="local-city">
                            <i class="fa-light fa-location-dot"></i>
                            <span th:text="${local.adresse.city}"></span>
                        </p>
                        <a th:href="${'/user/locaux/'+local.id}" class=" text-center btn btn-outline-primary center">details</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills text-center mt-3">
            <li th:each="page,status:${pages}">
                <a th:href="@{locaux(page=${status.index},size=${size},keyword=${keyword})}"
                   th:text="${status.index + 1}"
                   th:class="${status.index == currentPage ? 'btn btn-primary' : 'btn'}"
                ></a>
            </li>
        </ul>
    </div>
</div>
<span th:replace="layouts/footer :: footer"></span>
<span th:replace="layouts/foot :: foot"></span>
</body>
</html>