<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <span th:replace="layouts/head :: head"></span>
    <title>Liste des locaux</title>
</head>
<body>
<span th:replace="client/client_navbar :: user_navbar"></span>
<div class="container">
    <section class="hero-section">
        <h1 class="display-4" th:text="${local.name}"></h1>
        <p class="card-text local-bagde">
            <span class="badge badge-secondary" th:text="${local.service}"></span>
        </p>
        <div class="img-container"></div>
        <p class="local-description my-3" th:text="${local.description}">
        </p>
    </section>


    <section class="prestation-list">
        <h4>Liste des prestations</h4>
        <div class="prestation-cards-container">
            <div class="row">
                <div class="col-md-12 col-lg-6" th:each="prestation : ${prestations}">
                    <div class="prestation-card">
                        <h6 th:text="${prestation.name}"></h6>

                        <div class="prestation-details">
                            <span class="muted-text" th:text="${prestation.price}+ ' €'"></span>
                            <span class="muted-text">-</span>
                            <span class="muted-text" th:text="${prestation.duration} + ' min'"></span>
                            <a class="btn btn-dark"
                            >Select</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="artisans-list card p-3">
        <h4 class="card-title">Choix de l'artisan</h4>

        <div class="artisans-container">
            <div class="row">
                <h1 th:text="${artisans}"></h1>
                <div class="col-6" th:each="artisan : ${artisans}">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 col-sm-12">
                                <img
                                        src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-businessman-avatar-icon-flat-style-png-image_1917273.jpg"
                                        class="card-img img-fluid"
                                        alt="Avatar"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${artisan.firstName}"></h5>
                                    <p class="card-text">Job Title</p>
                                    <div class="rating">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="far fa-star"></i>
                                    </div>
                                    <a href="#" class="btn btn-primary">Selectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
    <section class="contact-section card my-4 p-3">
        <div class="card-content">
            <h4 class="card-title">Contact details</h4>

            <div class="address p-1">
                <p class="text-uppercase m-0">
                    <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                    Address :
                    <span class="small text-black-50" th:text="${local.address}"></span>
                </p>
            </div>
            <hr class="my-1" />
            <div class="address p-1">
                <p class="text-uppercase m-0">
                    <i class="fas fa-envelope text-primary mb-2"></i>
                    Email :
                    <span class="small text-black-50" th:text="${local.email}"></span>
                </p>
            </div>
            <hr class="my-1" />
            <div class="address p-1">
                <p class="text-uppercase m-0">
                    <i class="fas fa-mobile-alt text-primary mb-2"></i>
                    Phone :
                    <span class="small text-black-50" th:text="${local.phoneNumber}"></span>
                </p>
            </div>
        </div>
    </section>
</div>
<hr>
<span th:replace="layouts/footer :: footer"></span>
<span th:replace="layouts/foot :: foot"></span>
</body>