<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <span th:replace="layouts/head :: head"></span>
  <title>Liste des locaux</title>
</head>
<body>
<span th:replace="client/client_navbar :: user_navbar"></span>

<div class="container" style="min-height: 800px">
  <section class="local-infos mb-3">
    <h1 class="display-4" th:text="${local.name}"></h1>
    <p class="card-text local-bagde">
      <span class="badge badge-secondary" th:text="${local.service}"></span>
    </p>
  </section>

  <section class="presation-section mb-3">
    <h6><span class="text-primary">1-</span>Prestation selectionné</h6>
    <div class="row">
      <div class="col-md-12">
        <div class="prestation-card">
          <h6 th:text="${prestation.titre}"></h6>

          <div class="prestation-details">
            <span class="muted-text" th:text="${prestation.price}+ ' €'"></span>
            <span class="muted-text">-</span>
            <span class="muted-text" th:text="${prestation.duration} + ' min'"></span>
            <a class="btn btn-dark" th:href="@{'/user/locaux/' + ${local.id}}"
            >Abandonner</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="choix-artisans mb-3">
    <h6><span class="text-primary">2-</span>Artisan choisi</h6>
    <div class="artisans-container card p-3">
      <div class=" g-2">
        <div  class="artisan-card col-12 p-2">
          <div id="profileImage"></div>
          <span id="artisan-name" th:text="${artisan.firstName}+ ' '+${artisan.lastName}"</span>
        </div>
      </div>
    </div>
  </section>

  <section class="disponibilite-section">
    <h6><span class="text-primary">3-</span>Choix de la date & heure</h6>
    <div class="card">
      <div class="disponibilty p-3">
        <div class="week-day">
          <span>Vendredi</span>
          <span class="muted-text">20/01</span>
          <div class="creneau creneau-reserve">9h00</div>
          <div class="creneau">9h30</div>
          <div class="creneau creneau-reserve">10h</div>
          <div class="creneau">10h30</div>
          <div class="creneau creneau-reserve">11h</div>
          <div class="creneau">11h30</div>
          <div class="creneau">12h</div>
          <div class="creneau">13h30</div>
          <div class="creneau">14h</div>
          <div class="creneau">14h30</div>
          <div class="creneau">15h</div>
          <div class="creneau">15h30</div>
          <div class="creneau">16h</div>
          <div class="creneau">16h30</div>
        </div>
        <div class="week-day">
          <span>Samedi</span>
          <span class="muted-text">21/01</span>
          <div class="creneau">9h00</div>
          <div class="creneau">9h30</div>
          <div class="creneau">10h</div>
          <div class="creneau">10h30</div>
          <div class="creneau">11h</div>
          <div class="creneau">11h30</div>
          <div class="creneau">12h</div>
          <div class="creneau creneau-reserve">13h30</div>
          <div class="creneau">14h</div>
          <div class="creneau">14h30</div>
          <div class="creneau">15h</div>
          <div class="creneau creneau-reserve">15h30</div>
          <div class="creneau">16h</div>
          <div class="creneau">16h30</div>
        </div>
        <div class="week-day">
          <span>Lundi</span>
          <span class="muted-text">23
            /01</span>
          <div class="creneau creneau-reserve">9h00</div>
          <div class="creneau">9h30</div>
          <div class="creneau">10h</div>
          <div class="creneau">10h30</div>
          <div class="creneau">11h</div>
          <div class="creneau">11h30</div>
          <div class="creneau">12h</div>
          <div class="creneau">13h30</div>
          <div class="creneau creneau-reserve">14h</div>
          <div class="creneau">14h30</div>
          <div class="creneau">15h</div>
          <div class="creneau">15h30</div>
          <div class="creneau">16h</div>
          <div class="creneau">16h30</div>
        </div>
        <div class="week-day">
          <span>Mardi</span>
          <span class="muted-text">24/01</span>
          <div class="creneau">9h00</div>
          <div class="creneau">9h30</div>
          <div class="creneau">10h</div>
          <div class="creneau creneau-reserve">10h30</div>
          <div class="creneau">11h</div>
          <div class="creneau">11h30</div>
          <div class="creneau creneau-reserve">12h</div>
          <div class="creneau">13h30</div>
          <div class="creneau">14h</div>
          <div class="creneau">14h30</div>
          <div class="creneau">15h</div>
          <div class="creneau">15h30</div>
          <div class="creneau">16h</div>
          <div class="creneau">16h30</div>
        </div>
        <div class="week-day">
          <span>Mercredi</span>
          <span class="muted-text">25/01</span>
          <div class="creneau">9h00</div>
          <div class="creneau">9h30</div>
          <div class="creneau">10h</div>
          <div class="creneau">10h30</div>
          <div class="creneau">11h</div>
          <div class="creneau">11h30</div>
          <div class="creneau">12h</div>
          <div class="creneau">13h30</div>
          <div class="creneau">14h</div>
          <div class="creneau">14h30</div>
          <div class="creneau">15h</div>
          <div class="creneau">15h30</div>
          <div class="creneau">16h</div>
          <div class="creneau">16h30</div>
        </div>
        <div class="week-day">
          <span>Jeudi</span>
          <span class="muted-text">26/01</span>
          <div class="creneau">9h00</div>
          <div class="creneau">9h30</div>
          <div class="creneau">10h</div>
          <div class="creneau">10h30</div>
          <div class="creneau">11h</div>
          <div class="creneau">11h30</div>
          <div class="creneau">12h</div>
          <div class="creneau">13h30</div>
          <div class="creneau">14h</div>
          <div class="creneau">14h30</div>
          <div class="creneau">15h</div>
          <div class="creneau">15h30</div>
          <div class="creneau">16h</div>
          <div class="creneau">16h30</div>
        </div>
        <div class="week-day">
          <span>Lundi</span>
          <span class="muted-text">16/01</span>
          <div class="creneau">9h00</div>
          <div class="creneau">9h30</div>
          <div class="creneau">10h</div>
          <div class="creneau">10h30</div>
          <div class="creneau">11h</div>
          <div class="creneau">11h30</div>
          <div class="creneau">12h</div>
          <div class="creneau">13h30</div>
          <div class="creneau">14h</div>
          <div class="creneau">14h30</div>
          <div class="creneau">15h</div>
          <div class="creneau">15h30</div>
          <div class="creneau">16h</div>
          <div class="creneau">16h30</div>
        </div>
      </div>

    </div>
  </section>
  <section class="actions-section m-3">
    <a class="confirm-btn btn btn-dark"  th:href="@{'/user/rdvs'}">Confirm</a>
  </section>

</div>



<span th:replace="layouts/footer :: footer"></span>
<span th:replace="layouts/foot :: foot"></span>

<script>
  const fullName = document.getElementById("artisan-name").textContent;
  const intials = fullName
          .split(" ")
          .map((name) => name[0])
          .join("")
          .toUpperCase();
  document.getElementById("profileImage").innerHTML = intials;

  let crenaux = document.querySelectorAll(".creneau");

  for (var i = 0; i < crenaux.length; i++) {
    crenaux[i].addEventListener("click", function () {
      // Remove the "selected" class from all divs
      for (var j = 0; j < crenaux.length; j++) {
        crenaux[j].classList.remove("creneau-selected");
      }
      if (!this.classList.contains("creneau-reserve")) {
        this.classList.add("creneau-selected");
      }
    });
  }

</script>
</body>
</html>